.cart-summary-panel {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box; 
}


.checkout-btn {
  display: block;        
  width: 100%;           
  box-sizing: border-box; 
  text-align: center;
  padding: 15px;         
  margin-top: 20px;
  text-decoration: none;
  border-radius: 50px;   
}


.btn {
  box-sizing: border-box;
}

.clear-cart-btn {
  margin-top: 40px;
  padding: 8px 16px;
  font-size: 13px;
  align-self: flex-start; 
  width: auto;
}